.max-width {
	max-width: 75rem !important;
}
/** {*/
/*	background: #000 !important;*/
/*	color: #0f0 !important;*/
/*	outline: solid #f00 1px !important;*/
/*	}*/
button, .btn-custom {
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
}
.slide {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}
.red {
	color: #DF514D !important;
}
.btn-custom {
	width: 100%;
	height: 69px;
	font-family: 'Barlow Condensed', serif;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 22px;
	padding-top: 17px;
	text-align: center;
}
.btn-custom.yellow {
	color: black;
	background-color: #FFC20E;
}
.btn-custom.purple {
	color: white !important;
	background-color: #2F2444;
}
.btn-custom.red {
	color: white !important;
	background-color: #DF514D;
}

#menu-mobile {
	display: none;
	position: fixed;
	top: 0; bottom: 0; left: 0; right: 0;
	padding: 10px 5px;
	background-color: white;
	z-index: 100;
}
#menu-mobile .inner {
	position: relative;
	margin-left: 0 !important;
	width: 100% !important;
	margin-top: 120px;
	z-index: 10;
}
#menu-mobile .inner ul {
	list-style: none;
	margin: 0;
	text-align: left;
}
#menu-mobile .inner li {
	border-bottom: 1px solid rgba(47,36,68,0.3);
	margin-bottom: 10px;
}
#menu-mobile .inner li a {
	color: #2F2444;
	font-family: 'Barlow Condensed', serif;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.1;
	display: block;
	margin-bottom: 20px;
}
#menu-mobile .btn-custom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
#open-menu, #close-menu {
	float: right;
	z-index: 200;
}
#close-menu {
	margin-right: 17px;
}
#nav {
	position: fixed;
	background-color: white;
	top: 0;
	z-index: 99;
	left: 0;
	right: 0;
	height: 44px;
}
#nav > div {
	position: relative;
	width: 100%;
	max-width: 100%;
}
#nav .logo {
	position: absolute;
	left: 50px;
	top: -5px;
	z-index: 101;
	width: 130px;
}
#nav .inner {
	width: 80%;
	margin-left: auto;
	padding: 10px;
	text-align: right;
}
#nav .inner .nav-btn {
	color: #2F2444;
	font-family: 'Barlow Condensed', serif;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 20px;
	vertical-align: middle;
	line-height: 1;
}
#nav .inner .nav-btn img {
	vertical-align: inherit;
	margin-right: 5px;
}
#header {
	min-height: 600px;
	background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/AE/IFI-2020/bg-header.jpg");
	text-align: center;
	padding-top: 25%;
	margin-top: 44px;
}

#header h1 {
	font-family: 'Open Sans', serif;
	color: white;
	font-size: 30px;
	text-shadow: 0px 0px 1px black;
	font-weight: 700;
	line-height: 1.1;
}
#header .container-btn {
	width: 316px;
	margin: 30px auto 0;
}

#bandeau-covid {
	background-color: #F0322C;
	padding: 10px;
	text-align: center;
}
#bandeau-covid p {
	display: inline-block;
	color: white;
}
#bandeau-covid p.big {
	font-family: 'Barlow Condensed', serif;
	font-size: 78px;
	font-weight: 700;
	line-height: 1;
}
#bandeau-covid p:nth-child(2) {
	font-family: 'Open Sans', serif;
	font-size: 18px;
	line-height: 1.2;
	text-align: left;
	margin-left: 8px;
}

#section-slider {
	position: relative;
}
#section-slider .content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 150px;
	z-index: 90;

	background-color: white;
	width: 333px;
	max-width: 100%;
}
#section-slider .content .inner {
	padding: 30px;
}
#section-slider .content .inner p {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	color: black;
	line-height: 1.4;
}
#section-slider .content .inner p.big {
	font-family: 'Barlow Condensed', serif;
	font-size: 65px;
	font-weight: bold;
	color: #DF514D;
	line-height: 0.6;
	margin-right: 6px;
	margin-bottom: 0;
	float: left;
}

#slider {
	position: relative;
}
#slider .slick-dots {
	left: 0;
	right: 0;
	bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	max-width: 100%;
}
.slick-dots li button:before {
	font-size: 65px !important;
	color: white !important;
	font-family: Arial, serif !important;
}

#tabs {
	padding-top: 10px;
	padding-bottom: 60px;
}

#tabs .menu {
	text-align: center;
}
#tabs .menu a {
	font-family: 'Barlow Condensed', serif;
	font-size: 22px;
	color: #2F2444;
	opacity: 0.5;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 600;
	display: inline-block;
}
#tabs .menu a .image-nonactive {
	display: inline-block;
}
#tabs .menu a .image-active {
	display: none;
}
#tabs .menu a.active .image-nonactive {
	display: none;
}
#tabs .menu a.active .image-active {
	display: inline-block;
}
#tabs .menu a.active {
	color: #DF514D;
	opacity: 1;
	border-bottom: 3px solid #DF514D;
}
#tabs .menu a.active path {
	fill: #DF514D;
}
#tabs .tab-content {
	display: none;
	margin-top: 50px;
}
#tabs .tab-content .left .container-relative {
	display: block;
	position: relative;
	margin-left: auto;
	margin-bottom: 25px;
}
#tabs .tab-content .left p.absolute-presentation {
	position: absolute;
	bottom: 10px;
	left: 10px;

	font-family: 'Open Sans', serif;
	font-size: 12px;
	margin: 0;
	font-weight: 600;
	line-height: 1.4;
	color: white;
}
#tabs .tab-content .left .inline {
	display: inline-block !important;
}
#tabs .tab-content .left .grey-content img {
	width: 100px;
}
#tabs .tab-content .left p {
	font-family: 'Open Sans', serif;
	font-size: 22px;
	line-height: 1.4;
	color: black;
}
#tabs .tab-content .right p {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	line-height: 1.4;
	color: black;
}
#tabs .tab-content .right p .big {
	font-weight: bold;
	color: #CF5B53;
}
#tabs .tab-content .grey-content {
	background-color: rgba(0,0,0,0.03);
	padding: 20px;
	margin-top: 20px;
}
#tabs .tab-content .grey-content p {
	font-family: 'Open Sans', serif;
	font-size: 18px;
	font-weight: bold;
	color: #2F2444;
	margin: 0;
}
#tabs .tab-content .grey-content p.big {
	font-family: 'Barlow Condensed', serif;
	font-size: 30px;
}
#tabs .tab-content .grey-content p.small {
	font-size: 14px;
	font-weight: normal;
}

#tabs .tab-content .quote-container {}
#tabs .tab-content .quote-container p {
	font-family: 'Barlow Condensed', serif;
	font-size: 30px;
	font-style: italic;
	line-height: 1.1;
	font-weight: 500;
	color: #DF514D;
}
#tabs .tab-content .quote-container p.author {
	font-size: 18px;
	font-style: normal;
	line-height: 1.2;
	color: black;
}
#tabs .tab-content .quote-container p.author span {
	color: #DF514D;
}
#tabs .tab-content .right p.very-small {
	margin-top: 20px;
	color: rgba(47,36,68,0.7);
	width: 70%;
	text-transform: none;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
}


#deduction {
	padding-top: 40px;
	padding-bottom: 50px;
}
#deduction .title {
	text-align: center;
	margin-bottom: 60px;
}
#deduction .title .inner {
	width: 462px;
	background-color: rgba(47,36,68,0.1);
	margin: 0 auto;
	max-width: 100%;
	padding: 10px;
}
#deduction .title .inner .inner-inner {
	border: 1px solid white;
	padding: 20px;
}
#deduction .title p.un {
	font-size: 28px;
	letter-spacing: 1px;
	line-height: 1.2;
	color: #DF514D;
	width: auto;
	text-transform: uppercase;
	font-family: 'Barlow Condensed', serif;
	font-weight: 500;
	margin-bottom: 5px;
}
#deduction .title p.sub span {
	font-weight: 600;
}
#deduction .title p.sub {
	max-width: 100%;
	font-family: 'Open Sans', serif;
	width: 581px;
	font-weight: 400;
	font-size: 20px;
	margin: 20px auto 0;
	line-height: 1.2;
	color: #2F2444;
}
#deduction .title p.un span {
	color: #2F2444;
}
#deduction .title p.deux {
	font-size: 46px;
	text-align: center;
	width: auto;
	letter-spacing: 23px;
	text-indent: 12px;
	line-height: 0.7;
	color: #DF514D;
	text-transform: uppercase;
	font-family: 'Barlow Condensed', serif;
	font-weight: 600;
	margin-bottom: 5px;
}
#deduction {
	background-color: rgba(0,0,0,0.03);
	text-align: center;
}
#deduction .box {
	text-align: center;
	display: inline-block;
	margin: 10px;
	width: 472px;
	max-width: 100%;
	padding: 10px 40px 30px;
	background-color: white;
}
#deduction .box.purple {
	color: #2F2444;
	border-top: 3px solid #2F2444;
}
#deduction .box.red {
	color: #DF514D;
	border-top: 3px solid #DF514D;
}
#deduction .box .head {}
#deduction .box .head p {
	font-family: 'Barlow Condensed', serif;
	font-size: 30px;
	font-weight: 600;
	display: inline-block;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.2;
}
#deduction .box .head p:nth-child(1) {
	font-size: 87px;
	text-align: right;
}
#deduction .box .text {
	font-family: 'Open Sans', serif;
	line-height: 1.2;
	color: black;
	font-size: 20px;
	text-align: left;
}
#deduction .box .btn-calcul {
	font-family: 'Barlow Condensed', serif;
	font-size: 19px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1.2;
	color: inherit;
	margin-top: 25px;
	display: block;
	width: 100%;
}
#deduction .box .btn-calcul img {
	vertical-align: baseline;
	margin-right: 5px;
}


#calcul-section {
	padding-top: 60px;
	padding-bottom: 40px;
}
#calcul-section .title {
	text-align: center;
}
#calcul-section .title h3 {
	font-family: 'Barlow Condensed', serif;
	font-size: 45px;
	font-weight: 600;
	color: #2F2444;
	line-height: 1;
	margin-bottom: 25px;
}
#calcul-section .title p {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	line-height: 1.2;
	color: black;
}

.switch {
	position: relative;
	display: inline-block;
	width: 73px;
	height: 42px;
}

.switch p {
	position: absolute;
	top: -4px;
	font-family: 'Barlow Condensed', serif;
	font-size: 45px;
	font-weight: 600;
	color: #2F2444;
	opacity: 0.3;
	margin: 0;
	transition: .4s;
	line-height: 1;
}
.switch p:nth-child(3) {
	opacity: 1;
	left: -55px;
}
.switch p:nth-child(4) {
	right: -55px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(47,36,69,0.1);
	-webkit-transition: .4s;
	transition: .4s;
}

.switch-slider:before {
	position: absolute;
	content: "";
	height: 32px;
	width: 32px;
	left: 4px;
	bottom: 5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .switch-slider {
}

input:checked + .switch-slider.round:before{
	background-color: #DF514D;
}
input:checked + .switch p:nth-child(3){
	opacity: 0.3;
}
input:checked + .switch p:nth-child(4){
	color: #DF514D;
}

input:checked + .switch-slider:before {
	-webkit-transform: translateX(33px);
	-ms-transform: translateX(33px);
	transform: translateX(33px);
}
.switch-slider.round {
	border-radius: 34px;
}

.switch-slider.round:before {
	background-color: #2F2444;
	border-radius: 50%;
}

#calcul-section .display {
	margin-top: 30px;
}
#calcul-section .display .amount {
	margin-bottom: 15px;
}
#calcul-section .display .amount p {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	line-height: 1.2;
	color: black;
	font-weight: 700;
	float: left;
	margin: 28px 0 0;
}
#calcul-section .display .amount .input-container {
	float: right;
	border-radius: 15px;
	background-color: rgba(0,0,0,0.05);
	position: relative;
}
#calcul-section .display .amount .input-container .currencyinput {
	position: absolute;
	top: 2px;
	right: 4px;
	font-family: 'Open Sans', serif;
	font-size: 30px;
	color: black;
	font-weight: 700;
}
#calcul-section .display .amount input {
	width: 200px;
	margin: 0;
	box-shadow: none;
	border: none;
	height: 58px;
	background-color: transparent;
	padding-right: 30px;
	text-align: right;
	font-family: 'Open Sans', serif;
	font-size: 30px;
	color: black;
	font-weight: 700;
}
#calcul-section .display .reduction {
	margin-bottom: 15px;
}
#calcul-section .display .reduction p {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	line-height: 1.2;
	opacity: 0.3;
	color: black;
	margin: 10px 0 0;
	float: left;
}
#calcul-section .display .reduction span {
	display: block;
	font-family: 'Open Sans', serif;
	font-size: 30px;
	line-height: 1.2;
	opacity: 0.3;
	color: black;
	float: right;
}
#calcul-section .display .reduction strong {
	font-weight: 400;
}

#calcul-section .display .after-deduction {
	margin-bottom: 15px;
}
#calcul-section .display .after-deduction p {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	color: #DF514D;
	float: left;
	margin: 10px 0 0;
}
#calcul-section .display .after-deduction span {
	display: block;
	font-family: 'Open Sans', serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	color: #DF514D;
	float: right;
}
#calcul-section .display .after-deduction strong {
	font-weight: 600;
}
#calcul-section .btn-custom {
	margin-top: 30px;
}


#quand-section {
	margin-top: 80px;
	margin-bottom: 80px;
}
#quand-section .left {}
#quand-section .left h6 {
	font-family: 'Barlow Condensed', serif;
	font-size: 43px;
	font-weight: 600;
	color: #2F2444;
	text-transform: uppercase;
	line-height: 1;
}
#quand-section .left p {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	line-height: 1.2;
	color: #2F2444;

}
#quand-section .left .grey-container {
	margin-top: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
}
#quand-section .grey-container {
	padding: 14px 50px;
	background-color: rgba(0,0,0,0.03);
	text-align: center;
	margin-bottom: 10px;
}
#quand-section .grey-container img {
	margin: 10px 0;
}
#quand-section .grey-container p {
	margin: 0;
}
#quand-section .grey-container p.big {
	font-family: 'Barlow Condensed', serif;
	font-size: 25px;
	color: #2F2444;
	font-weight: 700;
	text-transform: uppercase;
}
#quand-section .grey-container p.medium {
	font-family: 'Open Sans', serif;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
}
#quand-section  p.small {
	font-family: 'Open Sans', serif;
	font-size: 12px;
	line-height: 1.2;
	color: #2F2444;
}
#quand-section .grey-container p.very-small {
	text-align: right;
	font-family: 'Open Sans', serif;
	font-size: 10px;
	line-height: 1.2;
}
#quand-section .grey-container p.grey {
	opacity: 0.5;
}
#quand-section p.dark-grey {
	opacity: 0.7;
}


#pourquoi-section {
	padding-top: 50px;
	padding-bottom: 50px;
	background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/AE/IFI-2020/bg-soutien.jpg");
}
#pourquoi-section .title {}
#pourquoi-section .title h6 {
	margin-left: 26px;
	font-family: 'Barlow Condensed', serif;
	font-size: 45px;
	color: white;
	font-weight: 600;
	margin-bottom: 30px;
	line-height: 1.1;
	text-transform: uppercase;
}
#pourquoi-section .box {
	display: inline-block;
	width: 45%;
	background-color: white;
	text-align: center;
	padding: 40px 10px;
	vertical-align: top;
}
#pourquoi-section .box p.pre {
	font-family: 'Barlow Condensed', serif;
	font-size: 14px;
	color: #DF514D;
	font-weight: 600;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}
#pourquoi-section .box p.big {
	font-family: 'Barlow Condensed', serif;
	font-size: 72px;
	color: #2F2444;
	font-weight: 500;
	line-height: 1;
	margin: 0;
	text-transform: uppercase;
}
#pourquoi-section .box p.big.bigger {
	font-size: 92px;
}
#pourquoi-section .box p.normal {
	font-family: 'Open Sans', serif;
	font-size: 20px;
	color: #2F2444;
	font-weight: 600;
	line-height: 1.1;
	text-transform: uppercase;
}
#pourquoi-section .box p.small {
	font-family: 'Open Sans', serif;
	font-size: 16px;
	color: black;
	line-height: 1.4;
}
#pourquoi-section .box.small {
	width: 46%;
	height: 200px;
	margin: 10px;
}
#pourquoi-section .box.medium {
	width: 46%;
	padding: 30px 10px !important;
	height: 200px;
	margin: 10px;
}
#pourquoi-section .box.big {
	text-align: left;
	height: 420px;
	width: 100%;
	padding: 35px;
	margin-top: 10px;
}
#pourquoi-section .box.big img {
	margin-bottom: 15px;
}

#footer {
	padding: 20px 10px;
}
#footer .left {
	padding-top: 20px;
}
#footer .left p {
	margin: 0;
}
#footer .logo img {
	width: 105px;
}
#footer .end p {
	font-family: 'Open Sans', serif;
	font-size: 13px;
	color: #2F2444;
	opacity: 0.7;
	margin: 20px 0 0;
	text-align: center;
}
#footer .end p a {
	color: #2F2444;
	text-decoration: underline;
}
#footer .left p a {
	font-family: 'Barlow Condensed', serif;
	font-size: 18px;
	color: #2F2444;
	font-weight: 500;
}
#footer .left p.small {
	font-family: 'Open Sans', serif;
	font-size: 14px;
	color: #2F2444;
	opacity: 0.7;
	margin: 10px 0 0;
}
#footer .right {
	text-align: right;
	padding-top: 40px;
}
#footer .right p span {
	font-family: 'Barlow Condensed', serif;
	font-size: 18px;
	color: black;
	opacity: 0.3;
	text-transform: uppercase;
	margin-right: 10px;
}
#footer .right p img {
	opacity: 1;
	margin-left: 5px;
	margin-right: 5px;
}
@media screen and (max-width: 1010px) {
	#section-slider .content {
		top: 47%;
		left: 26px;
	}
	#section-slider .content .inner {
		padding: 20px;
	}
	#section-slider .content .inner p {
		font-size: 16px;
		margin: 0;
	}

	#tabs .tab-content {
		padding: 30px;
	}
	#quand-section .left {
		text-align: center;
	}
	#quand-section .grey-container {
		padding: 14px 120px;
		width: 500px;
		max-width: 100%;
		margin: 0 auto 20px;
	}
	#quand-section p.dark-grey {
		text-align: center;
	}


	#pourquoi-section .box {
		width: 100% !important;
		margin: 10px 0  !important;
	}
	#pourquoi-section .box.big {
		height: auto;
	}
	#pourquoi-section {
		background-position: 10% 50%;
	}

	#pourquoi-section .title h6 {
		text-shadow: 0px 0px 1px black;
	}


	#footer .right {
		text-align: center;
	}


}
@media screen and (max-width: 640px) {
	#nav {
		background-color: transparent;
		padding-right: 20px;
		padding-top: 10px;
	}

	#nav .logo {
		left: 10px;
		max-width: 75px;
		top: -4px;
	}
	#header {
		margin-top: 0;
		padding-top: 60%;
		background-position: 55% 50%;
	}
	#header h1 {
		font-size: 20px;
		width: 80%;
		margin: 0 auto;
	}
	#header .btn-custom {
		width: 80%;
		margin: 40px auto 0;
	}

	#section-slider .content {
		width: auto;
		position: static;
		transform: none;
	}
	#bandeau-covid .text {
		text-align: left;
	}
	#bandeau-covid p:nth-child(1) {
		font-size: 53px;
	}
	#bandeau-covid p:nth-child(2) {
		font-size: 16px;
		margin-left: 0;
	}
	#section-slider .content .inner {
		padding: 30px;
	}
	#slider .slick-dots {
		bottom: 10px;
	}

	#tabs .menu a img {
		display: block;
		margin-right: 15px;
		vertical-align: middle;
	}
	#tabs .menu a span {
		display: inline-block;
		vertical-align: middle;
		width: 80%;
	}
	#tabs .menu a {
		position: relative;
		z-index: 88;
		text-align: left;
		display: block;
		font-size: 20px;
		width: 100%;
		margin-bottom: 20px;
	}
	#tabs .menu a.active {
		border-bottom: none;
	}

	#tabs .tab-content {
		margin-top: 0;
		padding: 10px;
	}
	#tabs .tab-content .left img {
		margin: 0 auto 20px;
	}
	#tabs .tab-content .right p {
		font-size: 18px;
		margin-top: 40px;
	}
	#tabs .tab-content .quote-container p {
		font-size: 35px;
	}
	#deduction .title p.deux {
		letter-spacing: 13px;
	}

	#deduction .box {
		width: auto;
		margin: 0 0 20px;
		padding: 10px;
	}
	#deduction .box .text {
		font-size: 18px;
	}
	#deduction .box .btn-calcul {
		font-size: 15px;
	}

	#tabs .tab-content .left p.absolute-presentation {
		bottom: 25px;
	}


	#calcul-section .title {
		padding: 15px;
	}
	#calcul-section .title p {
		font-size: 18px;
	}
	#calcul-section .display {
		padding: 15px;
	}
	#calcul-section .display .amount p {
		margin: 7px 0 0;
		font-size: 16px;
	}
	#calcul-section .display .amount input {
		width: 175px;
		max-width: 100%;
	}
	#calcul-section .display .reduction p {
		font-size: 16px;
	}
	#calcul-section .display .after-deduction p {
		margin: 2px 0 0;
		font-size: 14px;
	}


	#quand-section {
		margin-top: 40px;
	}
	#quand-section .left p {
		font-size: 18px;
	}
	#quand-section .left .grey-container {
		padding: 20px;
	}
	#quand-section .grey-container {
		padding: 20px;
	}



	#pourquoi-section {
		background-image: none;
	}
	#pourquoi-section .title {
		padding: 30px 10px;
		background-image: url("https://adfinitas-statics-cdn.s3.eu-west-3.amazonaws.com/AE/IFI-2020/bg-soutien-small.png");
		background-position: 100% 50%;
	}
	#pourquoi-section .title h6 {
		font-size: 40px;
	}
	#pourquoi-section .box {
		padding-bottom: 20px;
	}
	#pourquoi-section .box.small {
		height: 170px;
	}
	#pourquoi-section .box.big {
		text-align: center;
	}


	#footer .left p a {
		font-size: 15px;
	}

}


